<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="${queryPkg}" />
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvNavOchartsProvider"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LicenseActivity"
            android:exported="false"
            android:label="@string/title_activity_license"
            android:theme="@style/Theme.AvNavOchartsProvider" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false"
            android:label="@string/title_activity_permission_request"
            android:theme="@style/Theme.AvNavOchartsProvider" />

        <provider
            android:name=".LogProvider"
            android:authorities="de.wellenvogel.ochartsprovider${suffix}.logprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name=".PluginDataProvider"
            android:authorities="de.wellenvogel.ochartsprovider${suffix}.pluginprovider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <service
            android:name=".OchartsService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".LogActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>